package pages

import "server/internals/server/templates/layouts"


templ VulnPackages(none string) {
	@layouts.MainFrame("Dashboard", renderVulnpackages(none))
}

templ renderVulnpackages(machineID string) {
        //loop to create the vuln packages items and the pagination footer at the bottom

       <div></div>
}