package pages

import "server/internals/server/templates/layouts"

//shows a list of the available machines and their machine ID+Name and when clicked we fetch
//the vuln packages for the machine

//RenderSBOM renders all the availabe machines from a map with the key as machineID and value as hostname
templ RenderSBOM(machineList map[string]string) {
	@layouts.MainFrame("Machines",machinesTable(machineList))
}

//createMachineList creates the cards for the available machines from the input map
//key is the machineID and value is the name of the machine


//the template for the machineCard
templ machinesTable(machineList map[string]string) {
            <section class="mb-6">

                <header class="grid grid-cols-2 font-bold p-2 bg-green-200">
                    <p>MACHINE</p>
                    <p>MACHINE-ID</p>
                </header>

				<div class="grid grid-cols-2 p-2 border-b">
					for id,name := range machineList{
              		 @machineRow(name,id)
        }
				</div>	
            </section>
}

templ machineRow(name string, ID string) {
                    <a href={ string(templ.URL("/machines/" + ID+"/vulns")) }
					 class="contents">
                        <p>{ name }</p>
                        <p>{ ID }</p>
					</a>
}