package components

templ Pagination(currentPage string ) {
<div class="join">
  <button class="join-item btn">«</button>
  <button class="join-item btn">{currentPage}</button>
  <button class="join-item btn">»</button>
</div>
}
